{% extends "online_school/base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <main class="px-6">
        <h3>Blog Posts</h3>
        <ul>
            {% for post in post_list %}
                <li>
                    <h5>{{ post.title }}</h5>
                    <p>{{ post.body }}</p>
{#                    <a href="{% url 'post-detail' post.id %}">Read more</a>#}
                </li>
            {% empty %}
                <p>No blog posts available .</p>
            {% endfor %}
        </ul>
    </main>
{% endblock %}