{% extends "online_school/base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <main class="px-6">
        <h3>Create post</h3><br>
        <div>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label" for="title">Title:</label>
                    <input class='form-control form-control-smpy-4' type="text" id="title" name="title">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="author">Author name:</label>
                    <input class='form-control form-control-smpy-4' type="text" id="author" name="author">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Body:</label>
                    <textarea class='form-control form-control-smpy-4' id="body" name="body" rows="15"></textarea>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="is_published" name="is_published">
                    <label class="form-check-label" for="is_published">Public post</label>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-secondary" type="submit">Save</button>
                </div>
            </form>
            <a class="mt-auto text-white-50" href="/">Return to home page</a>
        </div>
    </main>
{% endblock %}
